<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budget Cuts</title>

    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="budget.js"></script>
  </head>
  <body>
    <h1>Budget Simulation</h1>
    <div class="container" ng-controller="BudgetCtrl">
      <div class="row">
        <div class="col-md-5"><h3>Total Cuts Required: {{ requiredCuts()|currency }}</h3></div>
        <div class="col-md-7"><h3>Total Cuts Proposed: {{ totalCuts()|currency }}</h3></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Remaining: <span class="cuts_remaining">{{ balance()|currency }}</span></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Sales</h2>
          <div class="well">
            # Employees:  {{( salesEmployees|filter:{'employed':true}).length}} <br>
            Total Salary: {{ salesSalaries()|currency }}<br>
            Avg Salary: {{ averageSalesSalary()|currency }}<br>
            Cut Percentage: {{ salesPercent() }}%<br>
            <label>Cut:</label>
            <ul>
              <li ng-repeat="employee in salesEmployees|filter:{'employed':false}">
                {{ employee.title }}
              </li>
            </ul>
          </div>
          <table>
            <tr ng-repeat="employee in salesEmployees">
              <td>
                <label><input type="checkbox" ng-model="employee.employed" />
                {{ employee.title }}</label>
              </td>
              <td align="right">{{ employee.salary|currency }}</td>
            </tr>
          </table>
        </div>


        <div class="col-md-4">
          <h2>Finance</h2>
          <div class="well">
            # Employees:  {{( financeEmployees|filter:{'employed':true}).length}} <br>
            Total Salary: {{ financeSalaries()|currency }}<br>
            Avg Salary: {{ averageFinanceSalary()|currency }}<br>
            Cut Percentage: {{ financePercent() }} %<br>
            <label>Cut:</label>
            <ul>
              <li ng-repeat="employee in financeEmployees|filter:{'employed':false}">
                {{ employee.title }}
              </li>
            </ul>
          </div>
          <table>
            <tr ng-repeat="employee in financeEmployees">
              <td>
                <label><input type="checkbox" ng-model="employee.employed" />
                {{ employee.title }}</label>
              </td>
              <td align="right">{{ employee.salary|currency }}</td>
            </tr>
          </table>
        </div>

        <div class="col-md-4">
          <h2>Logistics</h2>
          <div class="well">
            # Employees:  {{( logisticsEmployees|filter:{'employed':true}).length}} <br>
            Total Salary: {{ logisticsSalaries()|currency }}<br>
            Avg Salary: {{ averageLogisticsSalary()|currency }}<br>
            Cut Percentage: {{ logisticsPercent() }} %<br>
            <label>Cut:</label>
            <ul>
              <li ng-repeat="employee in logisticsEmployees|filter:{'employed':false}">
                {{ employee.title }}
              </li>
            </ul>
          </div>
          <table>
            <tr ng-repeat="employee in logisticsEmployees">
              <td>
                <label><input type="checkbox" ng-model="employee.employed" />
                {{ employee.title }}</label>
              </td>
              <td align="right">{{ employee.salary|currency }}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
